@charset "UTF-8";
/* CSS Document */

body {
  padding-top: 50px;
}

.student {
	width: 100%;
	cursor: pointer;
	border: solid 3px #eaeaea;
	background-color: #f7f7f7;
}

.student:hover{
	background-color:#ffffff;
}