@charset "UTF-8";
/* CSS Document */

body {
  padding-top: 90px;
}

.student {
	width: 100%;
	cursor: pointer;
	border: solid 3px #eaeaea;
	background-color: #f7f7f7;
	margin-bottom: 3px;
}

.student:hover{
	background-color:#ffffff;
}